body { /* 01 */
    width: 80%;
    margin: 0 auto;
}

/* HEADER */

.header__navigation {
}

.logo__general {
    position: fixed;
    top: 5%;
    z-index: 2;
}

.menu {
    position: fixed;
    top: 5%;
    right: 45%;
    z-index: 3;
}

.logo__asside {
    position: fixed;
    top: 5%;
    right: 0;
    z-index: 4;
}

.header {
    background-color: rgb(0, 135, 254);
    z-index: 1;
}