.wrapper {
    background: fixed no-repeat center/100% 100% url(../images/bg.jpg);
}

.wrapper__raffle {
    background: fixed no-repeat center/100% 100% url(../images/raffle_bg.jpg);
}

/* HEADER */

.header,
.main {
    min-width: 800px;
    width: 80%;
    margin: 0 auto;
}

.header {
    display: flex;
    /* flex-direction: row; */
    border-radius: 100px;
}

.logo {
    width: 30%;
    text-align: center; /* картинка по центру блока */
}

.logo__picture {
    padding: 5%;
    width: 55%;
}

.menu {
    width: 65%;
    text-align: center; /* текст по центру блока */
    padding: 5% 0 0 0;
    list-style: none;
    font-size: 0;
}

.menu>.menu__item {
    font-size: 16px;
    display: inline-block;
    margin: 5px 20px;
    position: relative;
}

.menu .submenu {
    padding: 0;
    position: absolute;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity 2s, height 1s;
}

.menu .submenu .submenu__item {
    display: block;
    margin: 0;
}

.submenu__item,
.menu__link {
    background-color: bisque;
    border-radius: 50% 20% / 10% 40%;
    border: 3px solid #005c74;
    padding: 5px;
}

.submenu__link,
.menu__link,
.footer__link,
.submenu__item,
.shop__title {
    text-decoration: none;
    font-size: 1.4rem;
}

.submenu__link:hover,
.footer__link:hover {
    text-decoration: underline;
    color: #005c74;
}

.menu__item:hover .submenu {
    margin: 0;
    height: 300px;
    opacity: 1;
    transition: opacity 2s, height 1s;
}

/* MAIN */

.main__adv,
.main__header,
.subtitle {
    text-align: center;
    padding: 2%;
    background-color: #005c74;
    border-radius: 20px;
    color: #ffff87;
}

.main__header {
    margin: 5%;
}

h1 {
    font-size: 5rem;
}

.main__container {
    width: 80%;
}

.main__adv {
    width: 20%;
    margin-left: 3%;
}

.container {
    display: flex;
    align-items: flex-start;
}

.container__special {
    text-indent: 2rem;
    flex-direction: column;
}

.shop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15%;
}

.adv__picture,
.item__img {
    width: 100%;
}

.shop__title {
    font-size: 1.8rem;
}

.shop__item {
    width: 30%;
    border: 5px solid #002a26;
    padding: 2%;
}

.item__description,
.adv__description,
.raffle__description {
    text-indent: 2rem;
    color: #005c74;
    padding: 5px;
    margin: 2%;
    background-color: #ffff87d7;
    font-size: 1.3rem;
    border-radius: 20px;
}

.description__special {
    margin-bottom: 10%;
}

.item__buy {
    text-decoration: none;
    padding: 2%;
    border-radius: 50px;
    font-size: 1.5rem;
}

.item__buy:hover,
.shop__title:hover {
    text-decoration: underline;
    background-color: #ffff87;
}

.anchor__link {
    text-transform: uppercase;
}

/* 10 */
.anchor__link,
.recall__link {
    width: 20%;
    position: fixed;
    bottom: 2%;
    right: 0;
    display: block;
    z-index: 1;
}

.recall__link {
    right: 7%;
    z-index: 2; 
}

.anchor__picture, /* 10 */
.recall__picture { /* 10 */
    width: 30%;
}

/* FOOTER */

.footer {
    width: 100%; /* указали ширину футера на всю страницу */
    padding-top: 0.6%; /* внутренний отступ сверху */
    padding-bottom: 0.6%; /* внутренний отступ снизу */
    position: fixed; /* позиция футера зафиксирована вне зависимости от скрола */
    bottom: 0; /* позиция футера зафиксирована внизу браузера буз отступов */
    background-color: rgb(201, 131, 131); /* задний фон блока для правильного и красивого просмотра футера */
    text-align: center; /* текст по центру блока */
}

.footer__link {
    color: yellow;
}